.contentContainer {
  composes: contentContainer from '/styles/composable.css';
  padding:  4rem 0;
}

.footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  gap: 4rem;
}

.footer > section > * {
  margin-bottom: 2rem;
}

.image {
  height: 2rem;
  width: auto;
}

.iconRow .image {
  margin-right: 4rem;
}

.links {
  height: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.links>span:hover {
  cursor: pointer;
}

.buttonContainer {
  display: flex;
  align-items: center;
  /* justify-content: flex-end; */
}

.button {
  composes: button from '/styles/composable.css';
  justify-self: flex-end;
  align-self: flex-end;
}

.buttonContainer div:nth-child(1) {
  flex: 1
}

@media only screen and (max-width: 720px) {
  .footer {
    margin:  0;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
  /* .footer section:nth-child(0) {
    grid-area: section1
  } */
}
