/* BASIC SETUP */
.contentContainer {
  composes: contentContainer from '/styles/composable.css';
  padding:  2rem 0 2rem 0;
}

.hero {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  gap: 2rem;
  grid-template-areas: "details image";
}

.details {
  grid-area: details;
}

.image {
  grid-area: image;
  width: 100%;
  height: auto;
  align-self: center;
  justify-self: end;
}

.title {
  margin: 0;
  text-transform: capitalize;
}

.description {
  margin: 2rem 0;
}

.button {
  composes: button from '/styles/composable.css';
  color: black;
  background-color: rgb(246, 216, 82);
  display: inline-block;
}

@media only screen and (max-width: 720px) {
  .hero {
    margin:  0;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      "image"
      "details"
  }
  .details {
    margin: 0;
  }

  .image {
    justify-self: center;
    max-width: 20rem;
  }
}