/* BASIC SETUP */
.contentContainer {
  composes: contentContainer from '/styles/composable.css';
  padding:  2rem 0 2rem 0;
}

.hero {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr;
  gap: 2rem;
  grid-template-areas: "details image";
  /* display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto auto;
  gap: 0; */
  /* grid-template-areas:
  "title image"
  "description image"
  "button image"; */
  /* margin:  0 20rem 0 20rem; */
}

.details {
  grid-area: details;
  margin:  0 4rem 2rem 0;
}

.image {
  grid-area: image;
  width: 30rem;
  height: auto;
  align-self: center;
  justify-self: end;
}

.title {
  /* grid-area: "title"; */
  /* grid-area: 1 / 1 / 2 / 2; */
  margin: 0;
  text-transform: capitalize;
}

.description {
  /* grid-area: "description"; */
  /* grid-area: 2 / 1 / 3 / 2;
  margin:  0 4rem 2rem 0; */
  margin: 2rem 0;
}

.buttonContainer {
  /* grid-area: "button"; */
  /* grid-area: 3 / 1 / 4 / 2;
  margin:  0 4rem 2rem 0; */
}

.button {
  padding: 1rem 4rem;
  border-radius: 0.25rem;
  background-color: rgb(246, 216, 82);
  display: inline-block;
}

/* .image {
  /* grid-area: "image"; 
  grid-area: 1 / 2 / 4 / 3;
  width: 30rem;
  height: auto;
} */

@media only screen and (max-width: 720px) {
  .hero {
    margin:  0;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      "image"
      "details"
  }
  .details {
    margin: 0;
  }

  .image {
    justify-self: center;
  }
}