.contentContainer {
  composes: contentContainer from '/styles/composable.css';
  background-color: rgb(246, 216, 82);
  padding:  4rem 0;
}

.title {
  text-align: center;
  margin: 0;
}

.description {
  text-align: center;
  font-size: 1.5rem;
}

.button {
  composes: button from '/styles/composable.css';
  background-color: white;
  display: inline-block;
  color: black;
  justify-self: center;
}