.contentContainer {
  composes: contentContainer from '/styles/composable.css';
  background-color: lightgray;
  padding:  2rem 0 2rem 0;
}

.signUp {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr;
  gap: 2rem;
  grid-template-areas: "description button";
  align-items: center;
}

.description {
  grid-area: description;
  margin:  0;
}

.button {
  composes: button from '/styles/composable.css';
  grid-area: button;
  justify-self: start;
}

@media only screen and (max-width: 720px) {
  .signUp {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
    grid-template-areas: 
    "description"
    "button";
  }
}