.step {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  gap: 2rem;
  grid-template-areas: "image details";
}

.image {
  grid-area: image;
  width: 100%;
  height: auto;
}

.details {
  grid-area: details;
}
.title {
  margin: 0 0 2rem 0
}