html,
body {
  padding: 0;
  margin: 0;
  font-family: Poppins, serif;
}

* {
  box-sizing: border-box;
}
h1 {
  font-family: Poppins, serif;
  font-weight: 900; /*black*/
  font-size: 96px;
}
h2 {
  font-family: Poppins, serif;
  font-weight: 800; /*extra bold*/
  font-size: 72px;
}
h3 {
  font-family: Poppins, serif;
  font-weight: 700; /*bold*/
  font-size: 64px;
}
h4 {
  font-family: Poppins, serif;
  font-weight: 400; /*regular*/
  font-size: 48px;
}
h5 {
  font-family: Poppins, serif;
  font-weight: 300; /*light*/
  font-size: 36px;
}
h6 {
  font-family: Poppins, serif;
  font-weight: 700; /*bold*/
  font-size: 24px;
}
.subtitle1 {
  font-family: Poppins, serif;
  font-weight: 900; /*black*/
  font-size: 14px;
}
.subtitle2 {
  font-family: Poppins, serif;
  font-weight: 400; /*regular*/
  font-size: 16px;
}
.body1 {
  font-family: Poppins, serif;
  font-weight: 400; /*regular*/
  font-size: 18px;
}
.button {
  font-family: Poppins, serif;
  font-weight: 700; /*bold*/
  font-size: 16px;
  text-transform: uppercase;
}
.caption {
  font-family: Poppins, serif;
  font-weight: 200; /*extra light*/
  font-size: 12px;
}
.overline {
  font-family: Poppins, serif;
  font-weight: 400; /*regular*/
  font-size: 12px;
  text-transform: uppercase;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
}

main {
  
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}
